
.card {
    background-color: #1f2d40 !important;
}
.card h1 {
    font-family: 'Times New Roman', serif;
    font-size: 3rem;
    color: #fff;
    margin: 20px;
}
.product img {
    object-fit: contain;
    background-color: #fff !important;
}
.product .product-grid-item img {
    height: 30vh;
}
.product .product-list-item img {
    height: 15vh;
}
.product .product-grid-item .product-grid-item-bottom {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.buttonSortRow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonSortRow .ui-button{
    margin: 1em;
}

.ui-inputgroup .ui-inputfield {
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 0em;
    margin-top: 1em;
}

.ui-inputgroup .ui-button {
    margin-bottom: 1em;
    margin-left: 0em;
    margin-top: 1em;
}