
.card {
    background-color: #1f2d40 !important;
}
.product img {
    object-fit: contain;
    background-color: #fff !important;
}
.product .product-grid-item img {
    height: 30vh;
}
.product .product-list-item img {
    height: 15vh;
}
.product .product-grid-item .product-grid-item-bottom {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.p-grid>.p-col, .p-grid>[class*=p-col] {
    height: 60vh;
}