/*Background*/

body {
  font-family: "Roboto", sans-serif;
  position: relative;
  background: #1b262c;
  margin: -1rem;
  overflow-x: hidden;
}

/*Top bar*/
.title {
  color: #eeeeee;
}

.top-bar {
  height: 112px !important;
  width: 100% !important;
  background: rgb(15, 76, 117);
  background: linear-gradient(
    0deg,
    rgba(15, 76, 117, 0.8) 71%,
    rgba(27, 38, 44, 0) 71%
  );
  position: relative;
  animation: topanim 4s infinite;
  font-size:16px;
}

.logo-and-text {
  position: absolute;
  top: 30%;
  left: 5%;
}

.acount-page {
  position: absolute;
  top: 15%;
  right: 5%;
  text-decoration: none;
  color: #eeeeee;
}

.cart-button {
  position: absolute;
  right: 5%;
  top: 45%;
}

/* Logos */
#logout-logo {
    width: 2em;
    height: 2em;
    color: #eeeeee;
}

#products-logo {
    width: 28px;
    height: 28px;
    margin-right: 4px;
    color: #eeeeee;
}

#login-logo {
  width: 2em;
  height: 2em;
  margin-right: 4px;
}

#logo {
  width: 2.625em;
  height: 2.625em;
}

#cart-logo 
{
  width: 2em;
  height: 2em;
  margin-bottom:2px;
}
/* -- */

.cart-notification {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background: transparent;
  right: 0%;
  border-radius: 50%;
}

.cart-notification h6 {
  border-radius: 50%;
  text-align: center;
  font-size: small;
  background-color:red;
}

.logo-link {
  text-decoration: none;
  color: black;
}


/*Side bar*/

.list-group-item {
  background-color: rgba(15, 76, 117, 0.8);
  border-color: #1b262c;
  color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
  font-size: xx-large;
}

.list-group-item:hover {
  background: #bbe1fa;
}

.list-group-item:focus {
  background-color: 3282b8;
  color: #eeeeee;
}

.sidebar-height-extension {
  background: rgba(15, 76, 117, 0.8);
  padding: 0;
}

.selected {
  display: none;
}

@keyframes topanim {
  from {
    background: linear-gradient(
      0deg,
      rgba(15, 76, 117, 1) 71%,
      rgba(27, 38, 44, 0) 71%
    );
  }
  5% {
    background: linear-gradient(
      0deg,
      rgba(15, 76, 117, 1) 68%,
      rgba(27, 38, 44, 0) 68%
    );
  }
  10% {
    background: linear-gradient(
      0deg,
      rgba(15, 76, 117, 1) 65%,
      rgba(27, 38, 44, 0) 65%
    );
  }
  15% {
    background: linear-gradient(
      0deg,
      rgba(15, 76, 117, 1) 62%,
      rgba(27, 38, 44, 0) 62%
    );
  }
  20% {
    background: linear-gradient(
      0deg,
      rgba(15, 76, 117, 1) 59%,
      rgba(27, 38, 44, 0) 59%
    );
  }
  25% {
    background: linear-gradient(
      0deg,
      rgba(15, 76, 117, 1) 56%,
      rgba(27, 38, 44, 0) 56%
    );
  }
  30% {
    background: linear-gradient(
      0deg,
      rgba(15, 76, 117, 1) 53%,
      rgba(27, 38, 44, 0) 53%
    );
  }
  35% {
    background: linear-gradient(
      0deg,
      rgba(15, 76, 117, 1) 50%,
      rgba(27, 38, 44, 0) 50%
    );
  }
  40% {
    background: linear-gradient(
      0deg,
      rgba(15, 76, 117, 1) 47%,
      rgba(27, 38, 44, 0) 47%
    );
  }
  45% {
    background: linear-gradient(
      0deg,
      rgba(15, 76, 117, 1) 44%,
      rgba(27, 38, 44, 0) 44%
    );
  }
  50% {
    background: linear-gradient(
      0deg,
      rgba(15, 76, 117, 1) 41%,
      rgba(27, 38, 44, 0) 41%
    );
  }
  55% {
    background: linear-gradient(
      0deg,
      rgba(15, 76, 117, 1) 44%,
      rgba(27, 38, 44, 0) 44%
    );
  }
  60% {
    background: linear-gradient(
      0deg,
      rgba(15, 76, 117, 1) 47%,
      rgba(27, 38, 44, 0) 47%
    );
  }
  65% {
    background: linear-gradient(
      0deg,
      rgba(15, 76, 117, 1) 50%,
      rgba(27, 38, 44, 0) 50%
    );
  }
  70% {
    background: linear-gradient(
      0deg,
      rgba(15, 76, 117, 1) 53%,
      rgba(27, 38, 44, 0) 53%
    );
  }
  75% {
    background: linear-gradient(
      0deg,
      rgba(15, 76, 117, 1) 56%,
      rgba(27, 38, 44, 0) 56%
    );
  }
  80% {
    background: linear-gradient(
      0deg,
      rgba(15, 76, 117, 1) 59%,
      rgba(27, 38, 44, 0) 59%
    );
  }
  85% {
    background: linear-gradient(
      0deg,
      rgba(15, 76, 117, 1) 62%,
      rgba(27, 38, 44, 0) 62%
    );
  }

  90% {
    background: linear-gradient(
      0deg,
      rgba(15, 76, 117, 1) 65%,
      rgba(27, 38, 44, 0) 65%
    );
  }
  95% {
    background: linear-gradient(
      0deg,
      rgba(15, 76, 117, 1) 68%,
      rgba(27, 38, 44, 0) 68%
    );
  }

  to {
    background: linear-gradient(
      0deg,
      rgba(15, 76, 117, 1) 71%,
      rgba(27, 38, 44, 0) 71%
    );
  }
}
