.errortext{
 color: #eeeeee; 
}

#errortext h2 {
    text-align:center;
    background-color:#1b262c;
    color:white;
    margin-top:1em;
    margin-bottom:1em;
}

#register-login-button {
    width: 25%;
    align-self: center;
}
