.account-row {
  display: flex;
  justify-content: center;
}

.account-panel {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.account-information {
  margin-top: 2%;
  padding: 1rem;
  background-color: rgb(15, 76, 117);
  color: #eeeeee;
  border-radius: 10px;
}
#errortext{
    color: #eeeeee;
}

.account-information .form-control {
  margin-top: 1%;
}
.account-alignment-cardstyle .city-postcode .postcode-text {
  margin-top: 1.9%;
}

.password-information-area {
  background: rgb(15, 76, 117);
  color: #eeeeee;
  margin-top: 1%;
  padding: 1rem;
  border-radius: 10px;
}
.password-information-area .form-control {
  margin-top: 1%;
}
.account-save-button .btn {
  background: rgb(15, 76, 117);
  color: #eeeeee;
  margin-top: 10%;
  border: none;
  width: 9rem;
}
.orderlist {
  overflow-y: scroll;
  height: 20rem;
  box-shadow: 1px 1px 0px 4px rgba(0, 0, 0, 0.1);
}
.orderlist .list {
  list-style: none;

  height: 100%;
  width: 100%;
  color: #eeeeee;
}
.orderlist .list .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div[class*="order-column"] {
  display: flex;
  justify-content: space-between;
  flex: 1 0 80px;
}
.li {
  display: list-item;
}
.order-history-text {
  margin-top: 2%;
  color: #eeeeee;
}
.orderlist-area {
  margin-top: 2%;
  background: rgb(15, 76, 117);
  padding: 1rem;
  border-radius: 10px;
}
