.login-container .login-row{
    display:flex;
    justify-content: center;
}

.row .login-row h1 {
    color: #bbe1fa;
    font-family:monospace;
}

.login-card-title h1 {
    color:black;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
    font-weight:bolder;
}

.alignment-cardstyle {
    width:100%;
    display:flex;
    justify-content: center;
    margin-bottom:10px; 
}

.row .login-row .card {
    text-align: center;
    background-color: #0f4c75;
    border-spacing: 75px;
    border-radius: 10px;
    align-self: flex-start;
    height:100%;
}

.row .login-row h3 {
    margin-top:10px;
    text-align:left; 
    margin-left: 10px;
    color: #bbe1fa;
}

.card .col-12 .form-control {
    margin-bottom:10px;
}
.nav .nav-tabs {
    position: absolute;
}