<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="info-box">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12" align="center">
            <h2 class="product-name">Catapult</h2>
          </div>
        </div>
        <div class="info-padding"></div>
        <div class="row">
          <div class="col-12" align="center">
            <div class="product-description">
              <h4>Raze castles with the new catapult v2!</h4>
              <h4>Fun for the whole family!</h4>
            </div>
          </div>
        </div>
        <div class="info-padding"></div>
        <div class="row">
          <div class="col-12" align="center">
            <div class="product-specs">
              <table>
                <tbody>
                  <tr>
                    <td>Height</td>
                    <td>10 m</td>
                  </tr>
                  <tr>
                    <td>Width</td>
                    <td>5 m</td>
                  </tr>
                  <tr>
                    <td>Weight</td>
                    <td>800 kg</td>
                  </tr>
                  <tr>
                    <td>Value</td>
                    <td>HIGH</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="info-padding"></div>
        <div class="row">
          <div class="col-12" align="center">
            <div class="product-options">
              <button id="Red" class="product-option-button"  >Red</button>
              <button id="Green" class="product-option-button"  >Green</button>
              <button id="Blue" class="product-option-button"  >Blue</button>
              <button id="Natural" class="product-option-button" >Natural</button>
            </div>
          </div>
        </div>
        <div class="info-padding"></div>
        <div class="row">
          <div class="col-12" align="center">
            <button
              id="catapultValue"
              type="button"
              class="btn btn-secondary purchase-button"
            >
              30.000$ Purchase
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
