<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="card d-none d-md-block">
            <div class="product-3d">
              <img src="/Images/Catapult.png" alt="Catapult image">
            </div>
            <div class="rating">
              <div class="full-star"></div>
              <div class="full-star"></div>
              <div class="full-star"></div>
              <div class="full-star"></div>
              <div class="half-star"></div>
            </div>
          </div>
          <div class="card2d d-md-none">
            <div class="product-3d">
              <img src="/Images/Catapult.png" alt="Catapult image">
            </div>
            <div class="rating">
              <div class="full-star"></div>
              <div class="full-star"></div>
              <div class="full-star"></div>
              <div class="full-star"></div>
              <div class="half-star"></div>
            </div>
          </div>
          <script src="JS/3dcardeffect.js"></script>
    </body>
</html>