<body>
    <div class="container checkout-container">
      <div class="row checkout-row">
          <div class="checkout-card-titles">
            <h1>CHECKOUT</h1>
          </div>
        
          <!-- DELIVERY COUNTRY --> 
          <div class="col-md-12 col-sm-12 alignment-cardstyle">
            <div class="card">
              <div class="card-header">
                <h3>DELIVERY COUNTRY:</h3>
              </div>
            <div class="form-group mb-3">
              <select class="form-control">
                <option>Select Country</option>
                <option>Austria</option>
                <option>Sweden</option>
                <option>USA</option>
                <option>Canada</option>
                <option>Italy</option>
              </select>
            </div>
          </div>
        </div>

        <!-- COUPON CODE -->
        <div class="col-md-12 col-sm-12 alignment-cardstyle">
            <div class="card">
                <div class="card-header">
                  <h3>COUPON CODE:</h3>
                </div>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Promo code" aria-label="Promo/coupon code" aria-describedby="button-addon2">
                  <div class="input-group-append">
                      <div class="apply-coupon-button">
                        <button class="btn btn-outline-secondary" type="button" >Apply</button>
                      </div>
                  </div>
                </div>
            </div>
        </div>

      <!-- EMAIL ADDRESS -->
        <div class="col-md-12 col-sm-12 alignment-cardstyle">
          <div class="card">
            <div class="card-header">
              <h3>EMAIL ADDRESS:</h3>
            </div>
            <form>
              <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              </div>
            </form>
            </div>
        </div>

      <!-- DELIVERY ADDRESS -->
        <div class="col-md-12 col-sm-12 alignment-cardstyle"> 
          <div class="card">
            <div class="card-header">
              <h3>DELIVERY ADDRESS:</h3>
            </div>
            <form>
                <div class="col-12">       
                    <input type="text" class="form-control" placeholder="First name" required>
                  </div>
                  <div class="col-12">
                    <input type="text" class="form-control" placeholder="Last name" required>
                  </div>

                  <div class="row city-postcode">
                      <div class="col-8">
                        <input type="text" class="form-control" placeholder="City" required>
                      </div>
                      <div class="col-4">
                        <input type="text" class="form-control"  placeholder="Postcode" required>
                      </div>
                  </div>  
                  
                  <div class="end-of-form">
                    <div class="col-12">
                        <input type="text" class="form-control" placeholder="Region" required>
                      </div>
                  </div>
                </div>
            </form>
        </div>
  
        <!-- TOTAL TO PAY -->
        <div class="col-md alignment-cardstyle">
          <div class="card">
            <div class="card-header">
              <h3>CART:</h3>
            </div>
            <div class="row items-column" onchange="getTotal()">
                <div class="col-md-4 title"><h4>Items</h4>
                    <div class="md-4">Mushroom</div>
                    <div class="md-4">Peanuts</div>
                    <div class="md-4">Apple</div>
                </div>
            
                <div class="col-md-4 title"><h4>Amount</h4>
                    <div class="md-4">
                      <input type="number" onchange="updateItemPrice(value)" class="item-input-value" value="1" min="0" max="100">
                    </div>
                    <div class="md-4">
                      <input type="number" onchange="updateItemPrice(value)" class="item-input-value" value="1" min="0" max="100">
                    </div>
                    <div class="md-4">
                      <input type="number" onchange="updateItemPrice(value)" class="item-input-value" value="1" min="0" max="100">
                    </div>  
                </div>
                <div class="col-md-4 title price"><h4>Price</h4>
    
                    <div class="md-4 price_total" data-price="40">$40</div>
                    <div class="md-4 price_total" data-price="80">$80</div>
                    <div class="md-4 price_total" data-price="10">$10</div>
                </div>
            </div>
          <div class="checkout-total">
            <h2 id="total-pay-text">TOTAL TO PAY: $130</h2>
          </div>
          <button onclick="updateItemPrice()" class="btn btn-primary" type="submit">Pay now!</button>
        </div></div>

        <!-- TERMS AND CONDITIONS -->
        <div class="col-sm-12 alignment-cardstyle">
            <div class="terms-conditions-text"><br>
                <p>
                    By placing your order you agree to our Terms and Conditions, privacy and 
                    return policies. You also consent to some of your data being stored by BigStore, 
                    which may be used to make future shopping experiences better for you.
                  </p>
            </div>
        </div>
    </div>
</body>



