<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="info-box">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12" align="center">
            <h2 class="product-name">M1 Abrams</h2>
          </div>
        </div>
        <div class="info-padding"></div>
        <div class="row">
          <div class="col-12" align="center">
            <div class="product-description">
              <h4>Tired of traffic jams, Then this is for you!!</h4>
              <h4>You will never stand in a traffic jam again!</h4>
            </div>
          </div>
        </div>
        <div class="info-padding"></div>
        <div class="row">
          <div class="col-12" align="center">
            <div class="product-specs">
              <table>
                <tbody>
                  <tr>
                    <td>Height</td>
                    <td>2.44 m</td>
                  </tr>
                  <tr>
                    <td>Length</td>
                    <td>9.77 m</td>
                  </tr>
                  <tr>
                    <td>Width</td>
                    <td>3.66 m</td>
                  </tr>
                  <tr>
                    <td>Weight</td>
                    <td>60 tons</td>
                  </tr>
                  <tr>
                    <td>Value</td>
                    <td>Extremely high</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="info-padding"></div>
        <div class="row">
          <div class="col-12" align="center">
            <div class="product-options">
              <button class="product-option-button">Standard</button>
            </div>
          </div>
        </div>
        <div class="info-padding"></div>
        <div class="row">
          <div class="col-12" align="center">
            <button
              id="tankValue"
              type="button"
              class="btn btn-secondary purchase-button"
            >
              3.000.000$ Purchase
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
