<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="info-box">
            <h2 class="product-name">PRODUKT</h2>
            <div class="product-description"></div>
            <div class="product-specs"></div>
            <div class="product-options"></div>
            <button type="button" class="btn btn-secondary purchase-button"></button>
          </div>    
    </body>
</html>