<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
  </head>
  <body>
    <div class="top-bar">
      <div class="logo-and-text col-lg-4 col-md-4 col-sm-4">
        <a class="logo-link col-lg-4 col-md-4 col-sm-4" href="index.html">
          <img
            class="col-lg-2 col-md-2 col-sm-2"
            id="logo"
            src="/Images/logo.png"
            alt="site logo"
          />
          <div></div>
          <b class="title"> BigStore </b>
          <!-- TODO: Change to h1 -->
        </a>
      </div>
     <!-- change name of the class "cart-button" ??? -->
      <div class="cart-button">

        <div class="cart-notification">
          <h6></h6>
        </div>
        <a href="LoginPage.html"
        ><img id="login-logo" src="/Images/login-btn.png" alt="login-btn button"
        /></a>
        <a href="Checkoutpage.html"
          ><img id="cart-logo" src="/Images/cart4.svg" alt="checkout button"
        /></a>
      </div>
    </div>
  </body>
</html>
